﻿@model string

<select name="Color" class="selectpicker col-" style="display: none;">
    @foreach (var color in WebUI.Models.ProjectViewModels.Colors)
    {
        <option value="@color" @if (Model == color) {<text> selected </text>} data-content="<span class='btn-colorselector' style='background-color: @color;'></span>">@color</option>
    }
</select>