﻿@model DateTime?

    <div class='input-group date datetimepicker'>
        @Html.TextBoxFor(model => model, new { @class = "form-control " })

        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
