﻿@model IEnumerable<Domain.Entities.Project>



<h2>@Resources.YourProjects <a href="@Url.Action("Create", "Projects")"><span class="glyphicon glyphicon-plus"></span></a></h2>

<div>
    @if (Model.Count() == 0)
    {
        <h4 class="alert alert-info">@Resources.NoProjectsMessage</h4>
    }
    else
    {
        <table class="table-condensed">
            @foreach (var project in Model)
            {
            <tr class="h4">
                <td ><span class ="btn-colorselector" style="background-color: @project.Color;"></span></td>
                <td><a href="@Url.Action("Details", new { id = project.Id })">@Html.DisplayFor(m => project.Name)</a></td>
                @*<span>(@Resources.TodoCount: @Html.DisplayFor(m => project.ToDos.Count))</span>*@
                <td>
                    <span class="label label-info">Oczekujące: @Html.DisplayFor(m => project.ToDos.Count)</span>
                    <span class="label label-success">Wykonane: @Html.DisplayFor(m => project.ToDos.Count)</span>
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = project.Id })"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="@Url.Action("Delete", new { id = project.Id })" onclick="@String.Format("return confirm('{0}')", Resources.DeleteProjectConfirmMessage)"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
            }
        </table>
    }
</div>