﻿@model WebUI.Models.ToDoViewModel

<div class="todo-form hidden">
    <div class="validation-message text-danger">

    </div>
    <form data-action="@Url.Action("Create","ToDos")" id="CreateForm" method="post">
        <div class="row" style="margin-bottom:10px">
            <div class="col-sm-4 col-md-3">
                <div class="btn-group"></div>
                <div class="form-group">
                    @Html.TextBoxFor(x => Model.Title, string.Empty, new { @class = "form-control", placeholder = Resources.Name })
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class=" btn-group">
                    <button type="button" class="btn btn-default btn-xs today-selector">@Resources.Today</button>
                    <button type="button" class="btn btn-default btn-xs tomorrow-selector">@Resources.Tomorrow</button>
                    <button type="button" class="btn btn-default btn-xs 7days-selector">@Resources.NextWeek</button>
                </div>
                <div class="form-group">
                    <div class='input-group date datepicker'>
                        @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control ", placeholder = Resources.StartDate })

                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class=" btn-group">
                    <button type="button" class="btn btn-default btn-xs today-selector">@Resources.Today</button>
                    <button type="button" class="btn btn-default btn-xs tomorrow-selector">@Resources.Tomorrow</button>
                    <button type="button" class="btn btn-default btn-xs 7days-selector">@Resources.NextWeek</button>
                </div>
                <div class="form-group">
                    <div class='input-group date datepicker'>
                        @Html.TextBoxFor(model => model.FinishDate, new { @class = "form-control ", placeholder = Resources.FinishDate })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="btn-group estmiate-btn-group">
                    <button type="button" value="0:15" class="btn btn-default btn-xs estimate-selector">0:15</button>
                    <button type="button" value="0:30" class=" btn btn-default btn-xs estimate-selector">0:30</button>
                    <button type="button" value="1:00" class=" btn btn-default btn-xs estimate-selector">1:00</button>
                    <button type="button" value="3:00" class=" btn btn-default btn-xs estimate-selector">3:00</button>
                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.Estimation, new { htmlAttributes = new { @class = "form-control", placeholder = Resources.Estimation } })
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="form-group">
                    <div class='input-group'>
                        <select name="ProjectID" class="selectpicker" style="display: none;">
                            <option value="0" data-content="@Resources.SelectProject">@Resources.SelectProject</option>
                            @foreach (var project in ViewBag.Projects as IEnumerable<Domain.Entities.Project>)
                            {
                                <option value="@project.Id" data-content="<span class='btn-colorselector' style='background-color: @project.Color;'></span>@project.Name">@project.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                @Html.TextBoxFor(model => model.Tags, new { @class = "form-control ", placeholder = Resources.Tags })
            </div>
        </div>
        <button type="submit" class="btn btn-primary">@Resources.Add</button>
        <button type="reset" class="btn btn-default cancel-btn">@Resources.Cancel</button>
    </form>
</div>