﻿<div class="row">
    <div class="todo-container col-md-6">
        <h2>@Resources.Today</h2>
        @Html.Partial("_ToDoList", (object)ViewBag.Today)
    </div>
    <div class="todo-container col-md-6">
        <h2>@Resources.Tomorrow</h2>
        @Html.Partial("_ToDoList", (object)ViewBag.Tomorrow)
    </div>
</div>
<div class="row">
    <div class="todo-container col-md-6">
        <h2>@Resources.NextWeek</h2>
        @Html.Partial("_WeekToDoList", (object)ViewBag.Week)
    </div>
    <div class="todo-container col-md-6">
        <h2>@Resources.WithoutFinishTime</h2>
        @Html.Partial("_ToDoList", (object)ViewBag.NoDate)
    </div>
</div>
