﻿@model IEnumerable<Domain.Entities.ToDo>

@{
    var projects = Model.Where(x => x.Project != null).Select(x => x.Project).Distinct().ToList();
}

@foreach (var p in projects)
{
    var timesum = TimeSpan.FromMilliseconds(Model.Where(x => x.Project == p && x.Estimation.HasValue).Sum(x => x.Estimation.Value.TotalMilliseconds));
    var weeklyTotalMin=p.DailyTime.HasValue ? p.DailyTime.Value.TotalMinutes*7 : 0;
    double share = p.DailyTime.HasValue ? timesum.TotalMinutes / weeklyTotalMin : 0;

    <hr />
    <div class="h3" style="color:@p.Color">
        @p.Name
    </div>
    <strong>
        @Resources.WeeklyTimeAllocated:
        @if (p.DailyTime.HasValue)
        { <text> @TimeSpan.FromMinutes(weeklyTotalMin).TotalHours.ToString("0"):@TimeSpan.FromMinutes(weeklyTotalMin).Minutes.ToString("00")  </text>}
        else
        { <text> @Resources.NotApplicable </text>}
    </strong><br />
    if (!p.DailyTime.HasValue)
    {
        <text><span class="text-info"><strong>@Resources.AllToDosTime @timesum.TotalHours.ToString("0"):@timesum.Minutes.ToString("00")</strong></span></text>
    }
    else if (share < 0.8)
    {
        <text><span class="text-success"><strong>@Resources.AllToDosTime @timesum.TotalHours.ToString("0"):@timesum.Minutes.ToString("00") (@string.Format("{0:0.0%}", share))</strong></span></text>
    }
    else if (share < 1)
    {
        <text><span class="text-warning"><strong>@Resources.AllToDosTime @timesum.TotalHours.ToString("0"):@timesum.Minutes.ToString("00") (@string.Format("{0:0.0%}", share))</strong></span></text>
    }
    else
    {
        <text><span class="text-danger"><strong>@Resources.AllToDosTime @timesum.TotalHours.ToString("0"):@timesum.Minutes.ToString("00") (@string.Format("{0:0.0%}", share))</strong></span></text>
    }
    <table class="col-md-12">
        <tr>
            <th class="col-md-1"></th>
            <th class="col-md-6">@Resources.Name</th>
            <th class="col-md-4 text-center">@Resources.Estimation</th>
            <th class="col-md-1"></th>
        </tr>
        @foreach (var todo in Model.Where(x => x.Project == p))
        {
            <tr>
                <td>@Html.CheckBoxFor(m => todo.Done, new { @value = todo.Id, @class = "todo-checkbox", @data_url = Url.Action("Mark", "ToDos") }) </td>
                <td>@Html.ActionLink(todo.Title, "Details", new { id = todo.Id })</td>
                <td class="text-center">
                    @Html.DisplayFor(x => todo.Estimation)
                </td>
                <td>
                    <a href="@Url.Action("Create", "Alerts", new { todoId = todo.Id })"><span class="glyphicon glyphicon-bell" title="@Resources.AddAlert"></span></a>
                    <a href="@Url.Action("Create", "Notes", new { todoId = todo.Id })"><span class="glyphicon glyphicon-list" title="@Resources.AddNote"></span></a>
                </td>
            </tr>
        }
    </table>
}

@if (Model.Any(x => x.Project == null))
{
    <hr />
    <div class="h3">
        @Resources.NotAssignedToProject
    </div>

    var restTimesum = TimeSpan.FromMilliseconds(Model.Where(x => x.Project == null && x.Estimation.HasValue).Sum(x => x.Estimation.Value.TotalMilliseconds));

    <span class="text-info"><strong>@Resources.AllToDosTime @restTimesum.ToString(@"h\:mm")</strong></span>

    <table class="col-md-12">
        <tr>
            <th class="col-md-1"></th>
            <th class="col-md-6">@Resources.Name</th>
            <th class="col-md-4 text-center">@Resources.Estimation</th>
            <th class="col-md-1"></th>
        </tr>
        @foreach (var todo in Model.Where(x => x.Project == null))
        {
            <tr>
                <td>@Html.CheckBoxFor(m => todo.Done, new { @value = todo.Id, @class = "todo-checkbox", @data_url = Url.Action("Mark", "ToDos") }) </td>
                <td>@Html.ActionLink(todo.Title, "Details", new { id = todo.Id })</td>
                <td class="text-center">
                    @Html.DisplayFor(x => todo.Estimation)
                </td>
                <td>
                    <a href="@Url.Action("Create", "Alerts", new { todoId = todo.Id })"><span class="glyphicon glyphicon-bell" title="@Resources.AddAlert"></span></a>
                    <a href="@Url.Action("Create", "Notes", new { todoId = todo.Id })"><span class="glyphicon glyphicon-list" title="@Resources.AddNote"></span></a>
                </td>
            </tr>
        }
    </table>
}

@if (!Model.Any())
{
    <hr />
    <div class="alert alert-info"><i class="glyphicon glyphicon-info-sign"></i>@Resources.NoToDosMessage</div>
}