﻿@model IEnumerable<Domain.Entities.ToDo>
@{
    ViewBag.Title = "Day";
}
<br />
<div id="todo-lists-container">
    <table>
        <tr>
            <td class="h2">@Resources.FinishingOn</td>
            <td>
                <div class="input-group date datepicker" id="SelectDayContainer" data-url="@Url.Action("Index")">
                    <input class="form-control " id="Day" name="Day" type="text" value="@ViewBag.Date">
                    <span class="input-group-addon">
                        <span class="glyphicon-calendar glyphicon"></span>
                    </span>
                </div>
            </td>
        </tr>
    </table>
    @Html.Partial("_ToDoList", Model)
</div>