﻿@model WebUI.Models.ToDoViewModel

<h3>@Resources.Details <small>@Html.ActionLink(Resources.Edit, "Edit", new { id = Model.Id }) | @Html.ActionLink(Resources.BackToToDoList, "Index")</small></h3>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Done)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Done)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project)
        </dt>

        @if(Model.Project!=null)
        { 
            <dd style="color:@Model.Project.Color">
                @Html.DisplayFor(model => model.Project.Name)
            </dd>
        }
        else
        {
            <dd>
               <text>-</text>
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Estimation)
        </dt>

        <dd>
            @if (Model.Estimation.HasValue)
            {
                <text>@Model.Estimation.Value.ToString(@"hh\:mm")</text>
            }
            else
            {
                <text>-</text>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinishDate)
        </dd>

    </dl>
    <h3>@Resources.Notes <a href="@Url.Action("Create", "Notes", new { todoId = Model.Id })"><span class="glyphicon glyphicon-plus"></span></a></h3>
    @foreach (var note in Model.Notes)
    {
        <hr />
        <h4>
            @note.Title
            <a href="@Url.Action("Edit", "Notes", new { todoId = Model.Id, id = note.Id })"><span class="glyphicon glyphicon-edit"></span></a>
            <a href="@Url.Action("Delete", "Notes", new { todoId = Model.Id, id = note.Id })"><span class="glyphicon glyphicon-remove"></span></a>
            <small>@note.Created.ToLocalTime()</small>
        </h4>
        <p>@note.Text</p>
    }
    @if (Model.Notes.Count() == 0)
    {
        <div class="alert alert-info">@Resources.NoNotesMessage</div>
    }
    <h3>@Resources.Alerts <a href="@Url.Action("Create", "Alerts", new { todoId = Model.Id })"><span class="glyphicon glyphicon-plus"></span></a></h3>
    @foreach (var alert in Model.Alerts)
    {
        <hr />
        <div>
            @alert.Date.ToLocalTime()
            <a href="@Url.Action("Edit", "Alerts", new { todoId = Model.Id, id = alert.Id })"><span class="glyphicon glyphicon-edit"></span></a>
            <a href="@Url.Action("Delete", "Alerts", new { todoId = Model.Id, id = alert.Id })"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
    }
    @if (Model.Alerts.Count() == 0)
    {
        <div class="alert alert-info">@Resources.NoAlertsMessage</div>
    }
</div>
